<h1>Here be Piratey Products</h1>


<% Product.all.each do |product| %>
	<ul>
		<a href="products/<%= product.id%>" >
		
		<li> <%= product.name %> </li>
		</a>
		<li> $<%= product.formatted_price %> </li>
	
	</ul>
<% end %>


<a href="products/new">
<p>Add a new product</p> </a>